<script type='text/javascript'>
 $(function() {
   Dashing.numColumns = 7
 });
 </script>

<% content_for :title do %>Work Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="uptimerobot" data-view="Uptimerobot" data-title="App Status"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="performance" data-view="Meter" data-title="Verrechenbarkeit" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ruby_stable" data-view="Text" data-title="Ruby"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rails_versions" data-view="Text" data-title="Rails"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature_outside" data-view="Number" data-title="Temperatur"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="projects" data-view="Grid" data-title="Projects, this week [h]"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="backups" data-view="Grid" data-title="Backups, hours ago"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="disks" data-view="Grid" data-title="Disks, percentage full"></div>
    </li>
  </ul>
</div>
